body {
    font-family: Segoe UI, Arial, sans-serif;
    margin: 0;
    background: #1e1e1e;
    color: #ddd;
    padding-top: 64px;
}

.site-header {
    background: #181818;
    border-bottom: 1px solid #bbc;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.brand {
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav {
    display: flex;
    gap: 1rem
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.6rem;
    align-items: center
}

.nav a {
    display: inline-block;
    padding: 0.5rem 0.6rem;
    color: #d7d7d7;
    border-radius: 6px;
    text-decoration: none;
}

.nav a:hover {
    background: #343434
}


.nav-toggle-checkbox {
    position: absolute;
    left: -9999px;
}

.nav-toggle {
    display: none;
    background: transparent;
    padding: 0.4rem 0.6rem;
    border-radius: 6px; 
    font-size: 1.5rem;
    cursor: pointer;
    color: #bbc;
}

/* Mobile style */
@media (max-width:768px) {
    .container {
        height: auto;
        flex-direction: row;
        gap: 0.6rem;
        padding: 0.6rem 1rem
    }

    .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 64px;
        background: #fff;
        border-bottom: 1px solid #e6e6e6;
        padding: 0.5rem 1rem;
        display: none;
        flex-direction: column
    }

    .nav ul {
        flex-direction: column;
        gap: 0.2rem
    }

    .nav a {
        padding: 0.6rem;
        border-radius: 4px
    }

    .nav-toggle {
        display: inline-block
    }

    #nav-toggle:checked~.nav {
        display: flex
    }
}

main {
    max-width: 1000px;
    margin: 1.2rem auto;
    padding: 0 1rem
}